body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 54px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

p {
    text-align: justify;
}

.top-banner{
    background-image: url(../images/top-banner-bg.png);
    height: 650px;
}

.banner-area {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding: 0 30px;
}

.text-area {
    margin-top: 15%;
    padding-right: 3%;
    color: white;
}

.read-more {
    color: white;
    font-weight: 800;
    background-color: #4040cc;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
}

.intro-image {
    width: 90%;
}

